*{
    margin: 0;
    padding: 0;
}

html,body{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

.content h1, .content h2, .content h3, .content h4 {
    margin: 20px auto;
    font-weight: 400;
}
.content h2{
    font-size: 2.4rem;
}
.content h3{
    font-size: 2rem;
}
.content p,td,a{
    font-size: 1.6rem;
}
.content a {
    cursor: pointer;
    text-decoration: none;
}

.content p {
    text-align: justify;
    padding: 10px;
}

main{
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    display: flex;
    min-height: 640px;
    transform: translate(0,-50%);
    flex-direction: row;
    justify-content: space-between;
}

.contents{
    position: relative;
    width: 400px;
}

.content{
    position: absolute;
    color: #fff;
    transition: linear .6s;
    opacity: 0;
}


.content.present{
    top: 0;
    opacity: 1;
}



.content.first{
    padding: 80px 100px;
}
.content.first .hello{
    width: 60px;
    height: 36px;
    line-height: 36px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 4px;
    color: #204969;
    text-align: center;
}

.content.second{
    padding: 80px 20px;
}


.contentTable {
    width: 96%;
    margin: 40px auto;
}

.contentTable td, .contentTable th {
    padding: 15px 10px;
    text-align: justify;
    font-size: 1.6rem;
    font-weight: normal;
}

.contentTable strong {
    font-weight: 100;
}

.contentTable .right {
    text-align: right;
}

.contentTable tbody tr td {
    padding: 10px 10px;
    line-height: 1.4rem;
}

h1.main-title{
    font-size: 4.8rem;
}

.bgs{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1000;
}
.bgs *{
    position: absolute;
    width: 100%;
    height: 120%;
    transition: .6s linear;
}
.bgs .bg1{
    background-color: #204969;
}

.bgs .bg2{
    background-color: #235789;
}
.bgs .bg3{
    background-color: #4c5870;
}
.bgs .bg4{
    background-color: #2d2d2d;
}


.present{
    top: 0;
    z-index: 100;
}
.past{
    top: -110vh;
}
.future{
    top: 110vh;
}


@keyframes upAndDown {
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: -20px;
    }
    100%{
        margin-top: 0;
    }
}

.float-btn{
    position: fixed;
    top: 90%;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    border-left:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
    transform: rotate(-45deg);
    animation: upAndDown 2s linear infinite;
    cursor: pointer;
}

.left-td{
    width: 15rem;
    text-align: right;
}

.right-td{
    width: 22rem;
}


@media screen and (max-width: 1024px){
    html,body{
        font-size: 31.25%;
    }

    main{
        width: 100%;
        left: 0;
        top: 0;
        height: 88%;
        transform: translate(0,0);
        flex-direction: column;
        justify-content: space-evenly;
    }

    .left-td{
        width: 9rem;
    }

    #contents{
        min-width: 200px;
        min-height: 240px;
    }

    .content.first,.content.second{
        padding: 60px 30px 10px 40px;
    }

    .content{
        padding: 20px;
    }

    main canvas{
        transform: scale(0.6,0.5);
    }
    .content h1.main-title{
        margin: 40px auto 0 auto;
    }

    .content.first h1.main-title{
        margin-top: 15px;
    }

    .contentTable{
        margin: 1rem auto;
    }

    .content.first h3.hello{
        margin-bottom: 5px;
    }
}